{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<!-- The big featured header -->
<header class="home-hero">
    <div class="home-hero__overlay"></div>
    <div class="home-hero__inner">
        <h1 class="home-hero__title">DataDelver</h1>
        <p class="home-hero__tagline">Exploring the labyrinth of Data Science, Machine Learning, and MLOps one delve at a time.</p>
    </div>
    <!-- Featured Series Callout -->
    <div class="home-hero__cta">
        <a href="series/ml-microservices.html" class="home-hero__cta-link">
            <span class="home-hero__cta-label">Featured Series</span>
            <span class="home-hero__cta-title">Modern ML Microservices</span>
            <span class="home-hero__cta-arrow">{% include ".icons/material/arrow-right.svg" %}</span>
        </a>
    </div>
</header>
{% endblock %}

<!-- Page content -->
{% block container %}
{% include "partials/top.html" %}
<div class="md-content" data-md-component="content">
    <div class="md-content__inner">

        <!-- Posts -->
        {% for post in posts %}
        {% include "partials/post.html" %}
        {% endfor %}

        <!-- Pagination -->
        {% if pagination %}
        {% block pagination %}
        {% include "partials/pagination.html" %}
        {% endblock %}
        {% endif %}
    </div>
</div>
{% endblock %}