{% extends "main.html" %}

{% block tabs %}
{{ super() }}

<!-- The big featured header  -->
<header class="home-hero">
    <div class="home-hero__inner">
        <div class="home-hero__content">
            <h1>DataDelver</h1>
            Exploring the labyrinth of Data Science, Machine Learning, and MLOps one delve at a time.
        </div>
    </div>
</header>
{% endblock %}

<!-- Page content -->
{% block container %}
{% include "partials/top.html" %}
<div class="md-content" data-md-component="content">
    <div class="md-content__inner">

        <!-- Posts -->
        {% for post in posts %}
        {% include "partials/post.html" %}
        {% endfor %}

        <!-- Pagination -->
        {% if pagination %}
        {% block pagination %}
        {% include "partials/pagination.html" %}
        {% endblock %}
        {% endif %}
    </div>
</div>
{% endblock %}